@use "../presets" as *;

$id: (
    "#first",
    "#second",
    "#third",
    "#fourth"
);

@each $i in $id {
    #{$i}:checked~.achivements-values #{$i}Value {
        display: block;
    }
}


@each $key in $id {
    #{$key}:checked~.achivements-designations #{$key}Key {
        border-right: 4px solid $color-after;
        right: -42px;
        z-index: 2;
        padding-right: 38px;
        background: $color-gradient-red-text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.achivements {
    background: $color-gradient-supersoft;

    &-box {
        display: flex;
        padding-top: 80px;
        gap: 80px;
    }

    &-input {
        display: none;
    }

    &-designations {
        position: relative;
        letter-spacing: 0.04em;
        flex-basis: 0;
        flex-grow: 3;
        justify-self: end;
    }

    &-designations::after {
        content: '';
        width: 4px;
        position: absolute;
        height: 100%;
        background-color: $color-white;
        top: 0;
        right: -42px;
        bottom: 0;
    }

    &-key {
        cursor: pointer;
        font-size: 42px;
        line-height: 50px;
        font-weight: 500;
        position: relative;
        text-align: right;
        display: block;
        color: $color-grey-text;
    }

    &-key:not(:nth-of-type(4)) {
        padding-bottom: 21px;
    }

    &-key:hover {
        background: $color-gradient-red-text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 0;
        flex-grow: 3.6;
    }

    &-value {
        display: none;
        color: $color-white;

        &__info {

            &-headernote {

                @include md-min {
                    display: none;
                }
            }

            &-title {
                font-size: 32px;
                line-height: 38px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            &-description {
                font-size: 21px;
                line-height: 30px;
            }
        }
    }

    &-point {
        @include md-min {
            display: none;
        }
    }
}