@use "../presets" as *;

$id: (
    "#first",
    "#second",
    "#third",
    "#fourth"
);

@each $key in $id {
    #{$key}:checked~.achivements-designations #{$key}Key {
        border-right: 4px solid $color-after;
        right: 0;
        z-index: 2;
        padding-right: 38px;
    }

    #{$key}:checked~.achivements-designations #{$key}Text {
        background: $color-gradient-red-text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #{$key}:checked~.achivements-values #{$key}Value {
        display: block;
        opacity: 1;
    }

    #{$key}:checked~.achivements-points #{$key}Point {
        opacity: 1;
    }
}

.achivements {
    background: $color-main;

    &-box {
        display: flex;
        padding-top: 80px;
        gap: 40px;

        @include md {
            flex-direction: column;
            padding-top: 30px;
            gap: 20px;
            min-height: 308px;
        }
    }

    &-input {
        display: none;
    }

    &-designations {
        @include md-min {
            position: relative;
            letter-spacing: 0.04em;
            flex-basis: 0;
            flex-grow: 3;
            justify-self: end;
        }

        @include md {
            display: none;
        }

    }

    &-designations::after {
        content: '';
        width: 4px;
        position: absolute;
        height: 100%;
        background-color: $color-white;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &-key {
        cursor: pointer;
        font-size: 42px;
        line-height: 50px;
        font-weight: 500;
        position: relative;
        text-align: right;
        display: block;
        padding-right: 42px;
        padding-bottom: 21px;

        &--last {
            padding-bottom: 0;
        }

        &__text {
            color: $color-grey-text;
        }

        &__text:hover {
            background: $color-gradient-red-text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 0;
        flex-grow: 3.74;
    }

    &-value {
        opacity: 0;
        display: none;
        color: $color-white;
        animation: value 0.5s normal;

        &__info {
            &-box {
                padding-bottom: 8px;
            }

            &-headernote {
                background: $color-gradient-headernote;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 1px;
                text-transform: uppercase;

                @include md-min {
                    display: none;
                }
            }

            &-title {

                @include md-min {
                    font-size: 32px;
                    line-height: 38px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                @include md {
                    font-size: 22px;
                    line-height: 26px;
                }
            }

            &-description {
                @include md-min {
                    font-size: 21px;
                    line-height: 30px;
                }

                @include md {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }
    }

    &-points {
        @include md-min {
            display: none;
        }

        @include md {
            display: flex;
            gap: 14px;
            margin-inline: auto;
        }
    }

    &-point {
        width: 16px;
        height: 16px;
        background-color: $color-active-regular;
        border-radius: 50%;
        opacity: 0.2;
    }
}

@include animation