@use "../presets" as *;

.clients {
    &-title {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-main;
        text-align: center;
        padding-bottom: 27px;
    }
    &-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            max-height: 120px;

            @include md {
                min-height: 90px;
            }
            &-image {
                width: 100%;
                height: 100%;
            }
        }
    }
}