@font-face {
  font-family: "TT Norms";
  src: url(../../fonts/Regular/TTNorms-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url(../../fonts/Medium/TTNorms-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url(../../fonts/Bold/TTNorms-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.header {
  position: absolute;
  color: #ffffff;
  width: 100%;
  padding-top: 50px;
  z-index: 1;
}
.header-box {
  display: grid;
  grid-template-areas: "lo in" "lo na";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  grid-area: lo;
}
.header-info {
  grid-area: in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-info__address {
  line-height: 19px;
}
.header-info__telephone-link {
  color: #ffffff;
  font-weight: 700;
  line-height: 19px;
}
.header-info__social {
  width: 24px;
  height: 24px;
  background-image: url(../../images/header/header-facebook.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-info__social-link {
  padding: 12px;
}
.header-info__social:hover {
  background-image: url(../../images/header/header-facebook-hover.svg);
}
.header-navbar {
  grid-area: na;
  justify-self: end;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-navbar__trigger {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: none;
  margin-bottom: 16px;
  border-radius: 40%;
  margin-left: 303px;
  margin-top: 1px;
}
.header-navbar__trigger-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 32px;
  background-color: #EC6F5D;
  height: 2px;
  width: 18px;
  right: 27px;
}
.header-navbar__trigger-item:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-navbar__trigger-item:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header-navbar__trigger:active {
  background-color: #EDEDF7;
}
.header-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}
.header-burger__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 10px;
}
.header-burger__item {
  display: block;
  height: 2px;
  width: 18px;
  margin-left: 6px;
  background-color: #ffffff;
}
.header-burger__item:nth-of-type(1) {
  margin-bottom: 4px;
}
.header-burger__item:nth-of-type(2) {
  margin-bottom: 4px;
}
.header-burger__button:active {
  background-color: #EDEDF7;
}

.list-item > .active {
  background-color: #F0145A;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}

.list-item__btn {
  background-color: transparent;
  border: none;
  padding: 5px 6px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.list-item__btn:hover {
  background-color: #EDEDF7;
}
.list-item__link {
  color: #ffffff;
  line-height: 21px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.list-item__link:hover {
  color: #F0145A;
}

.mobile-open {
  height: 310px;
  width: 335px;
  padding: 16px 20px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  position: fixed;
  top: 5px;
  right: 0;
}

.mobile-vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.vision {
  display: block;
}

.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.mobile {
  background-color: #F5F5FA;
  padding-block: 11px;
  border-radius: 10px;
}

.mobile:active {
  background-color: #EDEDF7;
}

.link-hover {
  color: #24A3FF;
}

.greetings {
  position: relative;
  background: -o-linear-gradient(47.99deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  color: #ffffff;
}
.greetings-box {
  background: url(../../images/main/greetings/greetings-bg.svg) no-repeat bottom;
}
.greetings-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 800px;
  background: url(../../images/main/greetings/greetings-leg.svg) no-repeat bottom;
}
.greetings-info__title {
  font-weight: 400;
  line-height: 45px;
  max-width: 600px;
  margin-bottom: 351px;
  font-size: 38px;
  text-align: center;
}
.greetings-scroll {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.67%, rgba(50, 50, 100, 0)), to(#323264));
  background: -o-linear-gradient(top, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
}
.greetings-scroll__btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 17px;
  cursor: pointer;
}

.achivements-value {
  display: none;
}

#first:checked ~ .achivements-values #firstValue {
  display: block;
}

#second:checked ~ .achivements-values #secondValue {
  display: block;
}

#third:checked ~ .achivements-values #thirdValue {
  display: block;
}

#fourth:checked ~ .achivements-values #fourthValue {
  display: block;
}

@media (min-width: 768px) {
  .header-burger {
    display: none;
  }
}

@media (max-width: 767.8px) {
  .header {
    padding-top: 20px;
  }
  .header-box {
    grid-template-areas: "in in" "lo na";
    gap: 20px;
  }
  .header-logo__image {
    width: 77.5px;
  }
  .header-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-info__address {
    display: none;
  }
  .header-info__telephone-link {
    color: #B3B3BA;
  }
  .header-info__social {
    display: none;
  }
  .header-navbar {
    padding-top: 0;
  }
  .header-navbar__list {
    display: none;
  }
  nav .list-item__link {
    padding-block: 11px;
  }
  .list-item__btn {
    color: #B3B3BA;
  }
  .mobile-vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .greetings-box {
    background: none;
  }
  .greetings-info {
    min-height: 640px;
    background-position-y: 204px;
  }
  .greetings-info__title {
    margin-bottom: 263px;
  }
}